body {
    margin: 0; 
}

.main {
    background: rgb(218, 216, 216);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    background: white;
    height: 90vh;
    width: 90%;
    display: flex;
    border-radius: 60px;
    box-shadow: -6px 11px 20px 9px #000000ad; 
}
.portfolio-left {
    background: rgb(59, 122, 59);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 60px 0 0 60px;
}
.info {
    text-align: center;
    color: whitesmoke;
    font-family: monospace;
}
.portfolio-right {
    background: white;
    width: 60%;
    padding: 40px;
    color: rgb(55, 68, 80);
    font-family: monospace;
    border-radius: 0 60px 60px 0;
}
h3 {
    margin-bottom: 4px;
}
p {
    margin-top: 0ex;
}
.bio {
    border-bottom: 3px solid grey;
}
.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: contain;
}